<template>
  <section class="container">
    <div class="row text-white mt-5">
      <div class="col-md-3">
        <button
          id="attack"
          @click="attack"
          :disabled="attackStatus"
          class="btn btn-primary rounded-circle p-3"
        >
          <img src="../assets/special.png" alt width="80" height="80" />
        </button>
        <h3>Attack</h3>
        <p>{{ attackTime }}</p>
      </div>
      <div class="col-md-3">
        <button
          id="special-attack"
          @click="specialAttack"
          :disabled="specialAttackStatus"
          class="btn btn-warning rounded-circle p-3"
        >
          <img src="../assets/shpric.png" alt width="80" height="80" />
        </button>
        <h3>Special Attack</h3>
      </div>
      <div class="col-md-3">
        <button
          id="heal"
          @click="heal"
          :disabled="healStatus"
          class="btn btn-success rounded-circle p-3"
        >
          <img src="../assets/lekarstvo.png" alt width="80" height="80" />
        </button>
        <h3>Heal</h3>
      </div>

      <div class="col-md-3">
        <router-link
          to="/endGame"
          id="give-up"
          @click="giveUp"
          :disabled="false"
          class="btn btn-danger rounded-circle p-3"
        >
          <img src="../assets/giveUp.png" alt width="80" height="80" />
        </router-link>
        <h3>Give Up</h3>
      </div>
    </div>
    <turnsBlock
      :monsterDamage="monsterTurns"
      :playerDamage="playerTurns"
    ></turnsBlock>
  </section>
</template>

<script>
import turnsBlock from "./turns-block";
export default {
  name: "buttonsBlock",
  props: ["monsterHealth", "playerHealth"],
  components: {
    turnsBlock,
  },
  data() {
    return {
      playerHealths: this.playerHealth,
      monsterHealths: this.monsterHealth,
      playerTurns: [],
      monsterTurns: [],
      attackStatus: false,
      specialAttackStatus: false,
      healStatus: false,
      attackTime: null,
      start: this.startGame(),
    };
  },
  methods: {
    //startHame
    startGame() {
      this.playerHealths = 100;
      this.monsterHealths = 100;
      this.monsterTurns = [];
      this.playerTurns = [];
      setInterval(() => {
        this.monsterAttack();
      }, 2000);
      // clearInterval(attack);
      this.$emit("startNewGame", this.start);
    },
    //PlayerAttack
    attack() {
      let playerDamage = this.calculateDamage(4, 12);
      if (this.monsterHealths >= 0) {
        this.monsterHealths -= playerDamage;
        this.attackStatus = true;
        setTimeout(() => {
          this.attackStatus = false;
        }, 2000);
      }
      this.playerTurns.push({
        text: "Doctor attack Coronavirus for" + playerDamage,
      });
      this.$emit("renderMonsterHealth", this.monsterHealths);
    },

    //MonsterAttack
    monsterAttack() {
      let monsterDamage = this.calculateDamage(4, 13);

      if (this.playerHealths >= 0) {
        this.playerHealths -= monsterDamage;
      }
      this.monsterTurns.push({
        text: "Monster attack Doctor for" + monsterDamage,
      });
      this.$emit("renderPlayerHealth", this.playerHealths);
    },

    //SpecialAttack
    specialAttack() {
      let playerSpecialAttack = this.calculateDamage(20, 50);
      if (this.monsterHealths >= 0) {
        this.monsterHealths -= playerSpecialAttack;
        this.specialAttackStatus = true;
        setTimeout(() => {
          this.specialAttackStatus = false;
        }, 5000);
      }
      this.$emit("renderMonsterHealth", this.monsterHealths);
      this.playerTurns.push({
        text:
          "Doctor hits Coronavirus Special Attack for " + playerSpecialAttack,
      });
    },

    //Heal
    heal() {
      if (this.playerHealths <= 90) {
        this.playerHealths += 10;
        this.healStatus = true;
        setTimeout(() => {
          this.healStatus = false;
        }, 3000);
      } else {
        this.playerHealths = 100;
      }
      this.playerTurns.push({
        text: "Doctor heals for 10 ",
      });
      this.$emit("renderPlayerHealth", this.playerHealths);
    },

    //Give Up
    giveUp() {
      this.$emit("lose", true);
    },

    //Damage
    calculateDamage(min, max) {
      return Math.max(Math.floor(Math.random() * max, min) + 1);
    },
  },
  watch: {
    //Check Win
    monsterHealths: function() {
      if (this.monsterHealths <= 0) {
        this.monsterScore = 0;
        this.monsterTurns = [];
        this.playerTurns = [];
        this.$emit("win", true);
      }
    },
    //CheckLose
    playerHealths: function() {
      if (this.playerHealths <= 0) {
        this.playerHealths = 0;
        this.monsterTurns = [];
        this.playerTurns = [];
        this.$emit("lose", true);
        return;
      }
    },
  },
};
</script>

<style scoped></style>
