<template>
  <div class="row justify-content-center win">
    <div>
      <img src="../assets/lose.png" alt="covid" class="covidImg1" />
    </div>
    <router-link
      to="/fight"
      class="btn btn-warning px-5 py-2 mt-5"
      @startNewGame="startNewGames = $event"
    >
      Play Again
    </router-link>
  </div>
</template>

<script>
export default {
  name: "endGame",
  data() {
    return {
      startNewGames: null,
    };
  },
};
</script>

<style scoped>
.covidImg {
  object-fit: contain;
  width: 600px;
  height: 600px;
}
.covidImg1 {
  object-fit: contain;
  width: 500px;
  height: 500px;
}
.win {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #21315a;
}
</style>
