<template>
  <!-- Win or Lose Sections -->
  <section class="container">
    <div v-if="youWin" class="row justify-content-center win">
      <div>
        <img
          src="../assets/Covid.png"
          alt="covid"
          width="500"
          height="500"
          class="covidImg"
        />
      </div>
      <router-link
        to="/"
        class="btn btn-warning px-5 py-2 mt-5"
        @startNewGam="startNewGames = $event"
      >
        Play Again
      </router-link>
    </div>
    <div v-else-if="youLose" class="row justify-content-center win">
      <div>
        <img src="../assets/lose.png" alt="covid" class="covidImg1" />
      </div>
      <router-link
        to="/"
        class="btn btn-warning px-5 py-2 mt-5"
        @startNewGam="startNewGames = $event"
      >
        Play Again
      </router-link>
    </div>

    <!-- Health-Section -->
    <div v-else class="row">
      <div class="col-md-6 text-center">
        <h3 class="text-info">Doctor</h3>
        <img
          src="../assets/Doctor.png"
          alt="coronavirus"
          width="100"
          height="100"
        />
        <div class="progress">
          <div
            class="progress-bar bg-success"
            role="progressbar"
            :style="{ width: playerHealth + '%' }"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            {{ playerHealth + "%" }}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="text-info">Coronavirus</h3>
        <img
          src="../assets/coronavirus.png"
          alt="coronavirus"
          width="100"
          height="100"
        />
        <div class="progress">
          <div
            class="progress-bar bg-danger"
            role="progressbar"
            :style="{ width: monsterHealth + '%' }"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            {{ monsterHealth + "%" }}
          </div>
        </div>
      </div>

      <!-- Control-Section -->
      <buttonsBlock
        :playerHealth="playerHealth"
        :monsterHealth="monsterHealth"
        @renderMonsterHealth="monsterHealth = $event"
        @renderPlayerHealth="playerHealth = $event"
        @win="youWin = $event"
        @lose="youLose = $event"
      ></buttonsBlock>
    </div>
  </section>
</template>

<script>
import buttonsBlock from "./buttons-block";
export default {
  name: "healthBlock",
  components: {
    buttonsBlock,
  },
  data() {
    return {
      playerHealth: 100,
      monsterHealth: 100,
      youWin: false,
      youLose: false,
      startNewGames: null,
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.covidImg {
  object-fit: contain;
  width: 600px;
  height: 600px;
}
.covidImg1 {
  object-fit: contain;
  width: 500px;
  height: 500px;
}
.win {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #21315a;
}
</style>
