<template>
  <section>
    <div class="startGame">
      <router-link
        to="/fight"
        class="btn btn-warning px-5 py-2 mt-5"
        @startNewGame="startNewGame = $event"
      >
        New Game
      </router-link>
    </div>
  </section>
</template>

<script>
export default {
  name: "startGame",
  data() {
    return {
      startNewGames: null,
    };
  },
};
</script>

<style scoped>
.startGame {
  background-image: url("../assets/newGame.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vmin;
  width: 100%;
  z-index: 100;
}
</style>
