<template>
  <section class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="text-success mt-5" v-if="playerDamage.length">
          {{ playerDamage[playerDamage.length - 1].text }}
        </p>
      </div>
      <div class="col-md-6">
        <img src="../assets/earrth.gif" alt class="img-fluid" />
      </div>
      <div class="col-md-3">
        <p class="text-danger mt-5" v-if="monsterDamage.length">
          {{ monsterDamage[monsterDamage.length - 1].text }}
        </p>
      </div>
    </div>

    <section>
      <p>
        <button
          class="btn btn-success m-2"
          type="button"
          data-toggle="collapse"
          data-target="#multiCollapseExample1"
          aria-expanded="false"
          aria-controls="multiCollapseExample1"
        >
          Doctor Turns
        </button>
        <button
          class="btn btn-danger"
          type="button"
          data-toggle="collapse"
          data-target="#multiCollapseExample2"
          aria-expanded="false"
          aria-controls=" multiCollapseExample2"
        >
          Monster Turns
        </button>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              <p v-for="(item, index) in playerDamages" :key="index">
                {{ item.text }}
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
              <p v-for="(item, index) in monsterDamages" :key="index">
                {{ item.text }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
export default {
  name: "turnsBlock",
  props: ["monsterDamage", "playerDamage"],
  data() {
    return {
      monsterDamages: this.monsterDamage,
      playerDamages: this.playerDamage,
    };
  },
  // computed: {
  //   reverseMonsterDamage() {
  //     console.log(this.monsterDamages);
  //     return this.monsterDamages.length ? this.monsterDamages.reserve() : null;
  //   },
  //   reversePlayerDamage() {
  //     return this.playerDamages.length ? this.playerDamages.reserve() : null;
  //   },
  // },
  methods: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
p {
  /* opacity: 0; */
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
